.title {
  margin-top: 10rem;
  margin-bottom: 6rem;
  font-family: "The Antiqua B", Georgia, Droid-serif, serif;
  font-size: 5.4rem;
  font-weight: 500;
  color: #2a303b;
  -webkit-font-smoothing: antialiased;
}

/* Par le biais du WYSIWYG, les h1 encapsulent des <p> */
h1.title p {
  line-height: 0.9;
}

.titleScoop {
  text-align: center;
  font-size: 8rem;
}

.articleDescription {
  font-family: "Marr Sans", Helvetica, Arial, Roboto, sans-serif;
  font-size: 2.8rem;
  line-height: 1.33;
  letter-spacing: 0.022rem;
  margin-top: 0.8rem;
  margin-bottom: 0;
  margin: 1.6rem 0;
  color: #2a303b;
}

.articleDescriptionScoop {
  font-weight: 600;
}

.content {
  font-size: 1.8rem;
  color: #383f4e;
  font-family: "The Antiqua B", Georgia, Droid-serif, serif;
}

/* On screens that are 768px or less*/
@media screen and (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
}
