.wysiwyg_container {
  // background: white;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: var(--border-radius);
  background-color: var(--wysiwyg-background-color);
  border: 1px solid var(--wysiwyg-light-grey);
  cursor: text;

  .wysiwyg_toolbar {
    cursor: default;
    div {
      cursor: pointer;
    }
  }

  html,
  input,
  textarea {
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
    background: #eee;
  }

  body {
    margin: 0;
  }

  p {
    margin: 0;
  }

  pre {
    padding: 10px;
    background-color: #eee;
    white-space: pre-wrap;
  }

  :not(pre) > code {
    font-family: monospace;
    background-color: #eee;
    padding: 3px;
  }

  img {
    max-width: 100%;
    max-height: 20em;
  }

  blockquote {
    border-left: 2px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    color: #aaa;
    font-style: italic;
  }

  blockquote[dir="rtl"] {
    border-left: none;
    padding-left: 0;
    padding-right: 10px;
    border-right: 2px solid #ddd;
  }

  table {
    border-collapse: collapse;
  }

  td {
    padding: 10px;
    border: 2px solid #ddd;
  }

  input {
    box-sizing: border-box;
    font-size: 0.85em;
    width: 100%;
    padding: 0.5em;
    border: 2px solid #ddd;
    background: #fafafa;
  }

  input:focus {
    outline: 0;
    border-color: blue;
  }

  iframe {
    width: 100%;
    border: 1px solid #eee;
  }

  [data-slate-editor] > * + * {
    margin-top: 1em;
  }
}

.wysiwyg_container.plainText {
  padding: 1rem;
}
.wysiwyg_container.plainText.isError {
  border: 3px solid red;
}

.wysiwygDisplay {
  blockquote {
    border-left: 2px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    color: #aaa;
    font-style: italic;
  }
}
