.container {
  padding-top: var(--height-nav-bar);
}

.doubleDivContainer {
  display: flex;
  height: calc(100vh - var(--height-nav-bar));
}

.leftDiv {
  background-color: gold;
  width: 50%;
  display: flex;
  justify-content: center;
}

.leftDiv > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.vAlign button > div {
  display: flex;
}
.vAlign button > div > p {
  margin-top: 5px;
}

.vAlign svg {
  margin-right: 20px;
  width: 30px;
}

.googleSvg {
  margin-right: 20px;
}

.rightDiv {
  background-color: red;
  width: 50%;
}
