.container {
  padding-top: var(--height-nav-bar);
}

.doubleDivContainer {
  display: flex;
  height: calc(100vh - var(--height-nav-bar));
}

.leftDiv {
  width: 50%;
  display: flex;
  justify-content: center;
}

.leftDiv > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.vAlign button {
  width: 300px;
}

.vAlign button > div {
  display: flex;
}
.vAlign button > div > p {
  margin-top: 5px;
}

.vAlign svg {
  margin-right: 20px;
  width: 30px;
}

.googleSvg {
  margin-right: 20px;
}

.subTitle {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
}

.rightDiv {
  width: 50%;
  display: flex;
  justify-content: center;
}

.rightDiv > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightDiv > div > div {
  text-align: center;
}

.rightDiv img {
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  .doubleDivContainer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  .rightDiv {
    width: 60%;
    margin-bottom: 50px;
  }
  .leftDiv {
    width: 80%;
  }
}
