.container {
  padding-top: var(--height-nav-bar);
}

.doubleDivContainer {
  display: flex;
  height: calc(100vh - var(--height-nav-bar));
}

.leftDiv {
  background-color: gold;

  width: 50%;
}

.rightDiv {
  background-color: red;

  width: 50%;
}
