.editableElement {
    margin-bottom: 2rem;
  }
  
  .mainPicture {
    display: flex;
    justify-content: center;

    & img {
      max-width: 500px;
      max-height: 500px;
    }
  }

  .articleContainer {
    &__title {
      text-align: center;
      font-size: 3rem;
    }
  }