@value borderGlobal from "../../styles/generic/genericStyle.module.css";

.footer {
  margin-top: 6rem;
  padding-top: 2rem;
  min-height: 200px;
  border-top: borderGlobal;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
