.container {
  background-color: var(--grey);
  border-radius: var(--border-radius);
  margin-bottom: 3rem;
}

.splitter {
  display: flex;
}

.user {
  width: 100px;
  padding: 2rem;
}

.answerWysiwyg {
  padding: 0.5rem;
}

.replyContainer {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.replyContainer p {
  padding: 1rem;
  cursor: pointer;
}

.replyContainer p:hover {
  text-decoration: underline;
}

.wysiwygContainer {
  width: 80%;
  margin: auto;
}
