.firstLine {
  display: flex;
  justify-content: space-evenly;
}

.firstLine p {
  font-size: 1.6rem;
}

.secondLine {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
