.container {
  min-width: 250px;
  cursor: pointer;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.articleDescription {
  margin-top: 2rem;
}

.articleDescription p {
  font-size: 2rem;
}
