/* First line is the slider part with the emphasized posts */
.firstLine {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.firstLine p {
  font-size: 1.6rem;
}

.firstPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondPart {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

/* secondline is the posts displayed as a list */
.secondLine {
  display: flex;
  flex-wrap: wrap;
}

/* On screens that are 768px or less*/
@media screen and (max-width: 1024px) {
  .firstLine {
    flex-direction: column;
  }
}

