.firstLine {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.firstLine p {
  font-size: 1.6rem;
}

.secondLine {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* On screens that are 768px or less*/
@media screen and (max-width: 1024px) {
  .firstLine {
    flex-direction: column;
  }
}
