.post {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 19px;
  margin-left: 19px;
  width: 250px;
  cursor: pointer;
  font-size: 2rem;
}

p.articleDate {
  text-align: right;
  font-size: 1.5rem;
}

.imageContainer img {
  width: 250px;
  height: 125px;
}
