@import "/styles/generic/globals.scss";
@value borderGlobal from "../../generic/genericStyle.module.css";

.navBarContainer {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  height: var(--height-nav-bar);
  border-bottom: 1px solid rgb(235, 232, 232);
}

.navBarDisplay {
  display: flex;
  height: 100%;
  margin: auto;
}

.navBarDisplay > div {
  width: 50%;
  display: flex;
  align-items: center;
}

.rightPart {
  justify-content: flex-end;
}

.navbarFlags {
  position: relative;
}

.userMenuAccess {
  cursor: pointer;
  padding: 15px;
}

.userMenuAccess:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.userMenuAccess:active {
  background-color: rgba(0, 0, 0, 0.2);
}
